@import url('https://fonts.googleapis.com/css2?family=Montserrat:500');

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 0px;
    border: transparent;
}

body {
    background-color: #202020;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
    margin: 0px 30px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    position: relative;
    i {
        padding: 10px;
    }
}

header ul.mobile-menu {
    transform: translateY(0px);
    transition: all 0.5s ease;
}

header ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #00a2ff;
    transform-origin: bottom right;
    transition: 400ms;
}

header ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

header ul li.active a {
    color: yellow;
    font-weight: 800;
    margin-left: 20px;
}

header ul li a:hover {
    i {
        color: red;
        transform: translateY(-5px);
        transition: 400ms;
    }
}

header ul li a:not(:hover) {
    transition: 400ms;

    i {
        transition: 400ms;
    }
}

header .menu {
    display: none;
    color: white;
    i {
        font-size: 35px;
    }
}

header {
    display: flex;
    align-items: center;
    padding: 40px 4%;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.logo {
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    height: 100%;
}

.delivery {
    position: absolute;
    top: 120px;
    padding: 0px 80px;
    .info {
        display: flex;
        justify-content: space-between;
        color: white;
        .desc {
            border: 2px yellow solid;
            border-right: 0px;
            border-radius: 55px;
            padding: 50px 30px;
            width: 50%;
            font-family: sans-serif;
            h1 {
                color: #008a7e;
                font-size: 45px;
            }
            p {
                font-size: 20px;
                padding: 20px 10px;
            }
            .containt {
                display: flex;
                padding: 30px 10px;
                .card {
                    transition: all 200ms ease;
                    cursor: default;
                    background-color: #008a7e;
                    border: 2px #008a7e solid;
                    padding: 30px 20px;
                    margin-left: 20px;
                    border-radius: 15px;
                    text-align: center;
                    i {
                        font-size: 45px;
                    }
                    .icon-delivery {
                        color: rgb(0, 68, 146); /* Couleur pour l'icône de livraison */
                    }
                    
                    .icon-packaging {
                        color: orange; /* Couleur pour l'icône d'emballage */
                    }
                    
                    .icon-tracking {
                        color: red; /* Couleur pour l'icône de suivi */
                    }
                    
                    .icon-shipping {
                        color: rgb(0, 90, 0); /* Couleur pour l'icône de livraison gratuite */
                    }
                }
                .card:hover {
                    background-color: #008a7e2f;
                    .icon-delivery {
                        color: white; /* Couleur pour l'icône de livraison */
                    }
                    
                    .icon-packaging {
                        color: white; /* Couleur pour l'icône d'emballage */
                    }
                    
                    .icon-tracking {
                        color: white; /* Couleur pour l'icône de suivi */
                    }
                    
                    .icon-shipping {
                        color: white; /* Couleur pour l'icône de livraison gratuite */
                    }
                }
            }
        }
        img {
            border-radius: 25px;
            width: 35%;
        }
    }
}

.bg .background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: -100;
    filter: brightness(0.1);
}

@media (max-width: 480px) {
    header {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 20px 30px;
    }

    header ul {
        display: flex;
        flex-direction: column;
        background-color: #202020;
        align-items: center;
        border-radius: 10px;
        padding: 0px 10px;
        margin: 10px 0px;
        transform: translateY(-250px);
        transition: all 0.5s ease;
    }

    header ul li {
        margin: 5px 0px;
    }

    header ul li a {
        font-size: 1em; /* Réduire la taille de la police */
    }

    header .menu {
        display: flex;
        z-index: 100;
    }

    .delivery {
        position: absolute;
        top: 100px;
        padding: 0px 10px;
        .info {
            display: flex;
            flex-direction: column;
            color: white;
            .desc {
                border: 2px yellow solid;
                border-radius: 55px;
                border-bottom: 0px;
                padding: 50px 10px;
                width: 100%;
                font-family: sans-serif;
                h1 {
                    color: #008a7e;
                    font-size: 45px;
                }
                p {
                    font-size: 20px;
                    padding: 20px 10px;
                }
                .containt {
                    display: grid;
                    grid-template-columns: auto auto;
                    gap: 20px 20px;
                    padding: 30px 0px;
                    .card {
                        transition: all 200ms ease;
                        cursor: default;
                        background-color: #008a7e2f;
                        border: 2px #008a7e solid;
                        padding: 30px 20px;
                        margin-left: 10px;
                        border-radius: 15px;
                        text-align: center;
                        i {
                            font-size: 30px;
                        }
                    }
                }
            }
            img {
                border-radius: 25px;
                position: absolute;
                width: 95%;
                top: 54%;
                z-index: -1;
                filter: blur(1px);
                opacity: 0.5;
            }
        }
    }
    

    .bg .background {
        position: absolute;
        height: 100%;
        max-width: 200%;
        overflow: hidden;
        background-size: cover;
        z-index: -100;
        filter: brightness(0.1);
    }
}
